@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 600;
}

nav {
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 1rem 2rem;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(38, 19, 56, 0.8);
    color: white;
    z-index: 20;
}



nav .logo-img {
    margin: auto;
    display: flex;
    align-items: center;
    margin: 1rem;
}


.logo .logo-img img {
    width: 55%;
    height: 55%;
}


.nav-links ul {
    display: flex;
}

nav .nav-links ul li {
    margin: auto 1rem;
}

nav .nav-links ul li a {
    text-decoration: none;
    color: white;
}

.nav-links ul li a:hover {
    border-bottom: 1px solid aqua;
    transition: 1s ease-in-out;
}

.nav-hamburger {
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 1s ease-in-out;
}

.home_content {
    max-width: 700px;
    padding: 2rem;
    border-radius: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.home_content h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}

.home_content p {
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
}

.home_content button {
    width: 250px;
    display: block;
    margin: 3rem auto 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, #5d2555, #9d44bc, #5d2555);
    color: #fff;
    cursor: pointer;
}

.home_content button:hover {
    background: linear-gradient(to right, #9d44bc, #5d2555, #9d44bc);
    box-shadow: 0 0 3px #9d44bc, 0 0 7px #9d44bc, 0 0 9px #9d44bc;
}

.news {
    min-height: 30vh;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 2rem;
}


.news_content {
    padding-top: 1rem;
}

.img-box img {
    display: block;
    width: 100%;
    height: 100%;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin: auto;

}

.card {
    position: relative;
    overflow: hidden;
}

.card-content {
    background-color: rgba(38, 19, 56, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.card:hover .card-content {
    opacity: 1;
    transform: translateY(0);
}

.valkyries {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(38, 19, 56, 0.5), rgba(38, 19, 56, 0.5)), url("../img/valkyrie.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(10px);
    color: #fff;
}

.title {
    margin: 1rem auto;
}

.valkyries-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1000px;
    margin: 2rem auto;
    flex-wrap: wrap;
    padding: 2rem;
    background: linear-gradient(rgba(211, 211, 211, 0.3), rgba(211, 211, 211, 0.3));
    border-radius: 8px;
}

.kiana,
.mei,
.bronya,
.elysia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.kiana-title,
.mei-title,
.bronya-title,
.elysia-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.kiana-title h1:last-child,
.mei-title h1:last-child,
.bronya-title h1:last-child,
.elysia-title h1:last-child {
    opacity: 0.7;
}

.elysia-img .none {
    opacity: 0;
}

img {
    width: 130px;
    height: 130px;
}

.contact {
    min-height: 100vh;
    background: linear-gradient(rgba(211, 211, 211, 0.2), rgba(211, 211, 211, 0.2)), url("../img/contact1.png");
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.contact-title {
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 1rem;
    background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8));
    border-radius: 1rem;
    overflow: hidden;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 1rem 1rem;
    font-size: 2.5rem;
}

.social-media a {
    padding: 1rem;
}

.social-media a i {
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: #f0eded;
    border-radius: 50%;
    color: #35aaf8;
}

.social-media a {
    text-decoration: none;
}

.social-media i:hover {
    background-color: #fff;
    color: #0099ff;
}

.contact-container h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 2rem;
    font-size: 1.3rem;
    color: #3a393a;
    font-weight: lighter;
}

.cs-contact {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}


.contact-container p {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #3a393a;
}

.footer-container {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #000;
    color: #fff;
}

.logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-top img {
    width: 50%;
    height: 50%;
}

.footer-links {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    margin: 0.5rem auto;
}

.footer-links a {
    text-decoration: none;
    color: #fff;

}

.footer-links a:hover {
    text-decoration: underline;
}

.logo-text {
    display: flex;
    margin: 1rem auto;
}

.logo-text a {
    text-decoration: none;
    color: #fff;
}

.logo-text h2 span {
    background: -webkit-linear-gradient(left, rgb(25, 136, 180), rgb(245, 104, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
}

/* small screen,laptop */

@media (max-width: 1024px) {
    .navbar .logo-img {
        width: 80%;
        height: 80%;
    }

    .nav-links li a {
        font-size: 80%;
    }

    .nav-links ul li {
        margin-left: 0.5rem;
    }

    .news_content {
        font-size: 0.8rem;
    }

    .valkyries {
        padding: 0 2rem;
        font-size: 90%;
    }

    .valkyries img {
        width: 120px;
        height: 90%;
    }

    .contact {
        font-size: 85%;
    }

    .social-media {
        margin: 1.5rem 0;
    }

    .social-media a {
        padding: 0;
    }

    .social-media a i {
        font-size: 90%;
        padding: 0.8rem;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    .nav-links ul {
        width: 40%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        padding: 1rem;
        top: 60px;
        right: 0;
        font-size: 1.6rem;
        background-color: rgba(38, 19, 56, 0.8);
        transform: translateX(100%);
    }

    .nav-links ul.open {
        transform: translateX(0);
        transition: 0.5s all ease-in;
    }
    .nav-links ul.close {
        transform: translateX(100%);
        transition: 0.5s all ease-in;
    }

    .nav-links ul li a {
        font-size: 1.1rem;
    }

    .nav-hamburger {
        display: flex;
        margin: auto 2rem;
        font-size: 1.6rem;
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        justify-content: center;
    }

    .card .img-box {
        width: 70%;
    }

    .card-content {
        font-size: 1rem;
        margin: auto;
        width: 70%;
        background-color: rgba(38, 19, 56, 0.8);
    }

    .valkyries-content {
        background-color: linear-gradient(rgba(211, 211, 211, 0.3), rgba(211, 211, 211, 0.3));
        padding: 1rem;
        margin: 0 2rem 2rem 2rem;
    }

    .kiana-img,
    .mei-img,
    .bronya-img,
    .elysia-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .kiana-img>*,
    .mei-img>*,
    .bronya-img>*,
    .elysia-img>* {
        margin-top: 10px;
    }

    .contact {
        font-size: 75%;
    }

    .contact-container {
        padding: 0.5rem;
        margin: 1rem 1.5rem;
        overflow: hidden;
    }

    .contact-container h3 {
        font-size: 20px;
    }

    .social-media {
        margin: 1.2rem 0;
    }

    .social-media a {
        padding: 0;
    }

    .social-media a i {
        font-size: 80%;
        padding: 0.6rem;
    }

    .cs-contact {
        padding: 1rem;
    }

    .cs-contact p {
        font-size: 0.6rem;
        margin-top: 0;
    }

    .footer-links {
        font-size: 0.8rem;
    }

    .logo-text {
        font-size: 0.95rem;
    }

    .footer-container p {
        font-size: 0.7rem;
    }
}

@media (max-width: 568px) {
    .nav-links ul {
        width: 40%;
        padding: 0.1rem;
    }

    .nav-links ul li {
        padding: 0.1rem;
    }

    .nav-links ul li a {
        font-size: 0.8rem;
    }

    .home_content {
        font-size: 70%;
    }

    .home_content button {
        width: 200px;
        font-size: 0.8rem;
    }

    .news {
        padding: 1rem 0;
    }

    .card {
        margin: 0.5rem 0;
    }

    .card-content {
        font-size: 0.7rem;
        padding: 1rem;
        background-color: rgba(38, 19, 56, 0.8);
    }

    .valkyries .title {
        font-size: 0.7rem;
    }

    .valkyries {
        padding: 2rem;
    }

    .valkyries .title {
        margin-top: -0.8rem;
    }

    .valkyries-content {
        margin: 0.3rem;
    }

    .valkyries-content img {
        width: 25%;
    }

    .kiana-img,
    .mei-img,
    .bronya-img,
    .elysia-img {
        justify-content: flex-start;
    }

    .kiana-title,
    .mei-title,
    .bronya-title,
    .elysia-title {
        font-size: 0.8rem;
        padding: 0 1rem;
    }

    .name-shadow {
        display: none;
    }

    .contact {
        font-size: 80%;
    }

    .contact p {
        font-size: 90%;
    }

    .contact-title {
        font-size: 0.7rem;
    }

    .social-media {
        margin: -1rem 0.3rem;
    }

    .social-media a {
        margin-top: 0.9rem;
        margin-right: -0.4rem;
        margin-left: -1rem;
    }

    .social-media a i {
        padding: 0.5rem;
        font-size: 1.8rem;
    }

    .contact-container h3 {
        font-size: 0.9rem;
        margin-top: 2rem;
    }

    .cs-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 75%;
        margin-top: 0;
    }

    .cs-contact p {
        margin-top: 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        font-size: 0.6rem;
        font-weight: lighter;
    }

    .footer-container p {
        font-size: 0.6rem;
    }
}